// LLAMADO DE TIPOGRAFÍAS
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Ubuntu:wght@500;700&display=swap');

// RESETEO BASICO DE ESTILOS

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// DEFINICIÓN DE VARIABLES

:root {
    --light-bg: hsl(97, 40%, 96.1%);
    --light-bg-alt: hsl(103, 22.6%, 93.9%);
    --light-border: hsl(100, 13%, 91%);
    --light-lighter: hsl(205, 10.3%, 58%);
    --light-light: hsl(203, 9.8%, 46.1%);
    --light-text: hsl(205, 9.5%, 35.1%);
    --light-title: hsl(204, 10.9%, 18%);

    --green-50: hsl(93, 42.9%, 95.9%);
    --green-100: hsl(101, 44.4%, 92.9%);
    --green-200: hsl(97, 45.7%, 82%);
    --green-300: hsl(97, 44.6%, 71%);
    --green-400: hsl(98, 45.1%, 60%);
    --green-500: hsl(96, 44.8%, 49%);
    --green-600: hsl(98, 43.1%, 41.4%);
    --green-700: hsl(100, 39.9%, 30%);
    --green-800: hsl(100, 35.3%, 20%);
    --green-900: hsl(106, 33.3%, 10%);

    --blue-50: hsl(214, 46.7%, 97.1%);
    --blue-100: hsl(198, 41.5%, 92%);
    --blue-200: hsl(209, 43.1%, 80%);
    --blue-300: hsl(212, 42.5%, 70%);
    --blue-400: hsl(210, 42.7%, 61%);
    --blue-500: hsl(213, 42.9%, 48%);
    --blue-600: hsl(210, 43.1%, 40%);
    --blue-700: hsl(208, 43%, 31%);
    --blue-800: hsl(205, 43.1%, 20%);
    --blue-900: hsl(200, 41.2%, 10%);

    --grey-50: hsl(210, 10%, 96.1%);
    --grey-100: hsl(180, 4.3%, 91%);
    --grey-200: hsl(204, 5.2%, 81%);
    --grey-300: hsl(202, 5.4%, 71%);
    --grey-400: hsl(207, 5.5%, 61%);
    --grey-500: hsl(208, 6%, 51.2%);
    --grey-600: hsl(210, 5.9%, 40%);
    --grey-700: hsl(207, 5.9%, 30%);
    --grey-800: hsl(210, 5.9%, 20%);
    --grey-900: hsl(200, 5.9%, 10%);
}

// DEFINICIÓN DE TIPOGRAFÍA

// TIPOGRAFÍA DESKTOP

.desktop-bigger {
    font-size: 60px;
    font-family: "Ubuntu";
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.01em;
    text-decoration: none;
}

h1 {
    font-size: 49px;
    font-family: "Ubuntu";
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.01em;
    text-decoration: none;
}

h2 {
    font-size: 40px;
    font-family: "Ubuntu";
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.01em;
    text-decoration: none;
}

h3 {
    font-size: 32px;
    font-family: "Ubuntu";
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.01em;
    text-decoration: none;
}

h4 {
    font-size: 26px;
    font-family: "Ubuntu";
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.01em;
    text-decoration: none;
}

.desktop-text-regular {
    font-size: 18px;
    font-family: "Montserrat";
    font-weight: 400;
    line-height: 160%;
    text-decoration: none;
}

.desktop-text-semibold {
    font-size: 18px;
    font-family: "Montserrat";
    font-weight: 600;
    line-height: 160%;
    text-decoration: none;
}

.desktop-small-regular {
    font-size: 16px;
    font-family: "Montserrat";
    font-weight: 400;
    line-height: 160%;
    text-decoration: none;
}

.desktop-small-semibold {
    font-size: 16px;
    font-family: "Montserrat";
    font-weight: 600;
    line-height: 160%;
    text-decoration: none;
}

.desktop-smaller-regular {
    font-size: 14px;
    font-family: "Montserrat";
    font-weight: 400;
    line-height: 160%;
    text-decoration: none;
}

.desktop-smaller-semibold {
    font-size: 14px;
    font-family: "Montserrat";
    font-weight: 600;
    line-height: 160%;
    text-decoration: none;
}

// TIPOGRAFÍA MOBILE

.mobile-bigger {
    font-size: 44px;
    font-family: "Ubuntu";
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.01em;
    text-decoration: none;
}

h1.mobile {
    font-size: 38px;
    font-family: "Ubuntu";
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.01em;
    text-decoration: none;
}

h2.mobile {
    font-size: 32px;
    font-family: "Ubuntu";
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.01em;
    text-decoration: none;
}

h3.mobile {
    font-size: 26px;
    font-family: "Ubuntu";
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.01em;
    text-decoration: none;
}

h4.mobile {
    font-size: 20px;
    font-family: "Ubuntu";
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.01em;
    text-decoration: none;
}

.mobile-text-regular {
    font-size: 16px;
    font-family: "Montserrat";
    font-weight: 400;
    line-height: 160%;
    text-decoration: none;
}

.mobile-text-semibold {
    font-size: 16px;
    font-family: "Montserrat";
    font-weight: 600;
    line-height: 160%;
    text-decoration: none;
}

.mobile-small-regular {
    font-size: 15px;
    font-family: "Montserrat";
    font-weight: 400;
    line-height: 160%;
    text-decoration: none;
}

.mobile-small-semibold {
    font-size: 15px;
    font-family: "Montserrat";
    font-weight: 600;
    line-height: 160%;
    text-decoration: none;
}

.mobile-smaller-regular {
    font-size: 14px;
    font-family: "Montserrat";
    font-weight: 400;
    line-height: 160%;
    text-decoration: none;
}

.mobile-smaller-semibold {
    font-size: 14px;
    font-family: "Montserrat";
    font-weight: 600;
    line-height: 160%;
    text-decoration: none;
}